@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@400&display=swap');


      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
          'Lucida Sans', Arial, sans-serif;
      }

      body,
      html {
        height: 100%;
        margin: 0;
        scroll-behavior: smooth;
      }

      body {
        background:white;
      }
      
      @keyframes mouse-scroll {
        0%   {
          transform: translateY(0px);
        } 50% { 
          transform: translateY(20px);    
        } 100% {
          transform: translateY(0px);
        }
      }


      .mouse_scroll {
        margin-left:48%;
        margin-right:48%;
        height: 100px;
        margin-top: 15%;
        animation: mouse-scroll 1s infinite;
        cursor:pointer;
      }

      .scroll_arrow {
        display: block;
        width: 5px;
        height: 5px;
        transform: rotate(45deg);
        border-right: 2px solid #CCC;
        border-bottom: 2px solid #CCC;
        margin: 0 0 3px 4px;
        width: 16px;
        height: 16px;
      }


      .mouse {
        height: 42px;
        width: 24px;
        border-radius: 14px;
        transform: none;
        border: 2px solid #CCC;

        top: 170px;
      }

      .wheel {
        height: 5px;
        width: 2px;
        display: block;
        margin: 5px auto;
        background: #CCC;
        position: relative;
        height: 4px;
        width: 4px;
        border: 2px solid #CCC;
        border-radius: 8px;
      }


      nav {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        background:linear-gradient( rgb(100,100,100,0.8), rgb(0,0,0,0));
        color: rgb(254, 254, 254);
        position:fixed;
        width:100%;
        padding: 0rem calc((100vw - 1300px) / 2);
        animation: FallIn 2s ease;
      }
      
      .logo {
        display: flex;
        justify-content: center;
        position:fixed;
        font-size: 1.2rem;
        font-weight: bold;
        font-style: italic;
        padding: 0 2rem;
        animation: SlideLeft 2s ease;
      }

      .nav-items {
        position:relative;
      }
      .logo-text {
        padding: 2rem 0rem;
        color:#000;
      }

      .info {
        padding:1.5%;
        margin-left:15%;
      }
      
      .nav-button {
        color:rgb(254,254,254);        
        text-decoration: none;
        padding: 0 1.5rem;
        font-weight: bold;
        transition: 1s ease;
      }

      .nav-button:hover {
        color:rgb(100,100,100);        
      }
      
      @media screen and (max-width: 800px) {

      .logo-text{
        padding: 2rem 0rem;
        font-size:1rem;
      }
      
      }

      h1 {
        width:100%;
        display:flex;
        justify-content: center;
        padding:20% 0 0 0;
        color:#DDD;
        font-size: 4rem;
        animation: FallIn 3s ease;
      }

      hr {
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
      }

      h2 {
        width:100%;
        display:flex;
        justify-content: center;
        padding:10% 0 0 0;
        color:#000;
        text-shadow: 0px 0px 10px #AAA;
        font-size: 3rem;
        animation: FadeIn 2s ease;
      }

      .buttons {
        width:100%;
        display:flex;
        justify-content: center;
        padding:25% 0 0 0;
      }

      .black {
        background: rgba(32, 32, 32, 0.8);
        color:white;
      }

      .white {
        background: rgba(235, 235, 235, 0.8);
        color:#000;
      }


      .button1 {      
        padding:0.8% 3%;
        border:none;
        font-weight:bold;
        border-radius: 30px;
        margin-left: 2%;
        margin-right: 2%;
        letter-spacing: 0.1rem;
        font-size: 0.8rem;        
      }

      .button1:hover {
        cursor: pointer;
      }

      a {
        text-decoration: none;
      }

      .white2 {
        color:#EEE;
        text-shadow: 0px 0px 10px #000;
      }

      .image {
        height: 100%;
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .image-b {
        height: 100%;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .image-t {
        height: 150%;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .Home {
        background-image:url("./Home.png");
      }

      .modelT-home {
        background-image:url("./ModelT-home.png");
      }

      .modelZ-home {
        background-image:url("./ModelZ-home.png");
      }

      .Panels-home {
        background-image:url("./Panels-home.png");
      }


    .modelT{
      background-image:url("./modelT.png");
    }


    .modelZ{
      background-image:url("./modelZ.png");
    }

    .modelT-interior{
      background-image:url("./ModelT-interior.png");
    }

    .modelZ-interior{
      background-image:url("./ModelZ-interior.png");
    }


    .panels{
      background-image:url("./Panels.png");
    }


      footer {
        display:flex;
        justify-content:center;
        padding:1rem;
        color:rgb(49, 49, 49);

      }

      footer a {
        margin-left:1rem;
        margin-right:1rem;
        font-family: 'Anek Odia', sans-serif;
      }

      footer p {
        margin-left:1rem;
        font-family: 'Anek Odia', sans-serif;
      }

      .right {
        margin-right:4rem;
      }

      @media screen and (max-width: 800px) {

      .nav-button{
        font-size:0.8rem;
        padding: 0 1rem;
      }
    }
        

      @media screen and (max-width: 800px) {

        .right{
          margin-right:2rem;
        }
          
        
        }










        .container{
          width: 100%;
          padding-right: 15px;
          padding-left: 15px;
          margin-right: auto;
          margin-left: auto;
        }
        @media (min-width: 1200px)
        {
          .container{
            max-width: 1140px;
          }
        }
        .d-flex{
          display: flex;
          flex-direction: row;
          background: rgb(100,100,100,0.1);
          border-radius: 15px;
          padding: 25px;
        }
        form{
          flex: 4;
        }
        .Yorder{
          flex: 2;
        }
        .required{
          color: red;
        }
        label, table{
          display: block;
          margin: 15px;
        }
        label>span{
          float: left;
          width: 25%;
          margin-top: 12px;
          padding-right: 10px;
        }
        input[type="text"], input[type="tel"], input[type="email"], select
        {
          width: 70%;
          height: 30px;
          padding: 5px 10px;
          margin-bottom: 10px;
          border: 1px solid #dadada;
          color: #888;
        }
        select{
          width: 72%;
          height: 45px;
          padding: 5px 10px;
          margin-bottom: 10px;
        }
        .Yorder{
          margin-top: 15px;
          height: 600px;
          padding: 20px;
          border: 1px solid #dadada;
        }
        th{
          border-bottom: 1px solid #dadada;
          padding: 10px 0;
        }
        td{
          border-bottom: 1px solid #dadada;
          padding: 25px 15% 10% ;
          width:100%;
          height:20px;
          margin-bottom:1%;
        }
        
        p{
          display: block;
          color: #888;
          padding-left: 25px;
        }
        .Yorder>div{
          padding: 15px 0; 
        }
        
        .button2{
          width: 100%;
          margin-top: 10px;
          padding: 10px;
          border: none;
          border-radius: 30px;
          background: #6BA6FF;
          color: #fff;
          font-size: 15px;
          font-weight: bold;
          transition: 1s ease;
        }
        .button2:hover{
          cursor: pointer;
          background: #A565F5;
        }



        .hero-container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          height: 95vh;
          padding: 3rem calc((100vw - 1300px) / 2);
        }
        
        .column-left {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          color: #000;
          padding: 0rem 2.5rem;
        }
        
        .column-left h1 {

          margin-bottom: 1rem;
          font-size: 3rem;
        }
        
        .column-left p {
          margin-bottom: 2rem;
          font-size: 1.5rem;
          line-height: 1.5;
        }
        
        .column-right {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0rem 2rem;
        }
        
        .hero-image {
          width: 100%;
          height: 100%;
        }
  



        @keyframes SlideRight {
          from {
              transform: translateX(100px);
          } to {
              transform: translateX(0px);
          }
      }
      
      @keyframes SlideLeft {
          from {
              transform: translateX(-100px);
          } to {
              transform: translateX(0px);
          }
      }
      
      @keyframes FallIn {
          from {
              transform: translateY(-300px);
          } to {
              transform: translateY(0px);
          }
      }

      @keyframes Up {
        from {
            transform: translateY(50px);
        } to {
            transform: translateY(0px);
        }
    }


      @keyframes FadeIn {
        from {
            opacity: 0;
        } to {
            opacity: 1;
        }
    }

      @keyframes Expand {
          from {
              transform: scale(0);
          } to {
              transform: scale(1);
          }
      }

      @keyframes Rotate {
          from {
              transform: rotate(360deg);
          } to {
              transform: rotate(0deg);
          }
      }
      
      .animate{
          position: relative;
          opacity: 0;
          transition: 2s all ease;
      }
      
      .active{
          opacity: 1;
      }
      
      .active.Left{
          animation: SlideLeft 1s ease;
      }
      
      .active.Right{
          animation: SlideRight 1s ease;
      }

      .active.Up{
        animation: Up 1s ease;
    }


      .active.Grow{
          animation: Expand 1s ease;
      }

      .active.Spin{
          animation: Rotate 1s ease;
      }


      .Left2 {
        animation: SlideLeft 1s ease;
      }

      .Right2 {
        animation: SlideRight 1s ease;
      }